<ion-header>
        <ion-navbar>
            <ion-title>Solicitações</ion-title>
        </ion-navbar>
    </ion-header>
    
    <ion-content padding>
        <ion-list>
            <div *ngFor='let solicitacao of solicitacoes'>
               <button ion-item class="list-item" (click)="verDetalhesSolicitacao(solicitacao.key)">
                    <ion-avatar item-start>
                        <img src="../../assets/imgs/professor.png">
                    </ion-avatar>
                    <span class="text-right">
                        <ion-icon class="item-pendente"  *ngIf="solicitacao.status == 'Pendente'" name="alert"></ion-icon>
                        <ion-icon *ngIf="solicitacao.status == 'Atendendo'" name="chatbubbles"></ion-icon>
                        <ion-icon  class="item-ok" *ngIf="solicitacao.status == 'Finalizado'" name="checkmark-circle"></ion-icon>
                    </span>
                    <h2 text-left>Prof.: {{ solicitacao.professor.nome }}</h2>
                    <div text-center>
                        <span class="text-left">Sala: {{ solicitacao.professor.sala.nomeSala }}</span>
                        <span class="text-right">
                            <ion-icon name="time-outline"></ion-icon> {{ solicitacao.dataCriacao.substr(9, 5) }}
                        </span>
                    </div>
                </button>
                <br>
            </div>
        </ion-list>
    
        <ion-fab right bottom>
            <button ion-fab color="secondary" (click)="criarSolicitacao()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-fab>
    </ion-content>